<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Birim</th>
            <th scope="col">Set Oluştur</th>
        </tr>
    </thead>
    <tbody>
        @for (item of personelList; track $index; let i = $index) {
        <tr>
            <td scope="row">{{i+1}}</td>
            <td>{{item.ad}}</td>
            <td>{{item.soyad}}</td>
            <td>{{item.birimAd}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    (click)="personelAlisVerisListesiGetir(item)">
                    >+</button>
            </td>
        </tr>
        }

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Alış Veriş Listesi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(seciliPersonel){
                    <app-sepet-olustur [alisVerisList]="seciliSepetList!" (sepetTamamlandi)="personelSepetiOlustu($event)"></app-sepet-olustur>
                }
                
            </div>
           
        </div>
    </div>
</div>