<form [formGroup]="frmUrun">
  <div class="flex flex-column">
    <label for="username">Miktar Türü</label>
    <p-dropdown [options]="urunMiktarTurList" optionValue="id" optionLabel="ad" formControlName="miktarTurId" appendTo="body"
      [style]="{'width':'100%'}">
    </p-dropdown>
  </div>
  <br>
  <br>
  <br>
  <div class="flex">
    <label for="ad">Ürün Ad</label>
    <input pInputText name="ad" style="width: 100%;" formControlName="ad" />
    <div *ngIf="frmUrun!.controls['ad'].hasError('required')" class="alert alert-danger" role="alert">
      Boş geçilemez!
    </div>
    <div *ngIf="frmUrun!.controls['ad'].hasError('minlength')" class="alert alert-danger" role="alert">
      Minumum 3 karakter olmalı!
    </div>
  </div>
  <button type="button" class="btn btn-success" (click)="kaydet(frmUrun!.value)">Kaydet</button>
</form>




<!-- Template Direven Form Örneği -->

<!-- ts tarafı
kaydet(frmUrun:any){

  console.log(frmUrun);
  if(frmUrun.valid){
    ilgili kaydetme servisi çağırılacak
  }

} -->
<!-- <form #frmUrun="ngForm" (ngSubmit)="kaydet(frmUrun)">


  <div class="flex flex-column">
    <label for="username">Miktar Türü</label>
    <p-dropdown name="miktarTurId" [options]="urunMiktarTurList" optionValue="id" optionLabel="ad" [(ngModel)]="data.miktarTurId"
      appendTo="body" [style]="{'width':'100%'}"
      required 
      >
    </p-dropdown>
  </div>
  <div class="flex">
    <label for="ad">Ürün Ad</label>
    <input pInputText name="ad" style="width: 100%;" [(ngModel)]="data.ad" required minlength="3" />
    <div *ngIf="frmUrun.controls['ad'].hasError('required')">alanı doldurun</div>
    <div *ngIf="frmUrun.controls['ad'].hasError('minlength')">min 3 karakter</div>
   
    
  </div>
  <button type="submit" class="btn btn-success" >Kaydet</button>
</form> -->